.idea/
.htaccess
.DS_Store

robots.txt
Thumbs.db
web.config

admin.php
robots.txt

~*
*.xml
*.tar.gz
google*.html
yandex_*.html
yandex_*.txtg
test*.php
log*.txt

/local/templates/eshop_bootstrap_v4/package-lock.json
/local/templates/eshop_bootstrap_v4/public/mix-manifest.json
/local/composer.lock

/bitrix/
/upload/
/local/vendor/
/local/templates/eshop_bootstrap_v4/node_modules/
/local/templates/eshop_bootstrap_v4/public/js/
